.failure-container{
    text-align: center;
    position: fixed;
    top: 25%;
    left: 40%;
    background-color:rgb(241, 25, 17);
    height: 70px;
    width: 250px;
    color:black;
    border-radius: 4%;
}