.success-container{
    text-align: center;
    position: fixed;
    top: 25%;
    left: 38%;
    background-color: rgb(6, 133, 207);
    height: 80px;
    width: 360px;
    color: white;
    border-radius: 4%;
}